@model ASPCoreSample.Models.CountryViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*<script type='text/javascript' src='~/lib/knockout/dist/knockout.js'></script>
    <div class="content">
        <h1>Cities</h1>
        <div>
            <label>Name<input data-bind="value: newCityName" /></label>
            <br />
            <label>Country<select data-bind="value: selectedCountry, options: allCountries, optionsText: 'Name'"></select></label>
            <br />
            <button data-bind="click: newCity">create</button>
        </div>
        <hr />
        <div data-bind="visible: loadingCities">Loading, please wait...</div>
        <div data-bind="foreach: allCities">
            <div data-bind="text: Name"></div>
        </div>
        <div>
            
        </div>
    </div>*@

<select asp-for="Country" asp-items="Model.Countries"></select> 