@{
    ViewBag.Title = "Knockout Autocomplete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<input class="form-control" type="search" name="searchTerm" data-autocomplete="@Url.Action("SearchResults", "Sample")" />
<input type="submit" id="submitForm" value="Search By Name" />


@section scripts
{
    <script>
        var createAutocomplete = function () {
            var self = $(this);
            var options = {
                source: self.attr("data-autocomplete")
            };
            self.autocomplete(options);
        }

        $(document).ready(function () {
            $("input[data-autocomplete]").each(createAutocomplete);
        });
    </script>
}*@
<h2>Knockout Autocomplete</h2>

<div id="content-wrapper">
    <input type="text" data-bind="autoComplete: search, settings: { url : '@Url.Action("SearchResults", "Sample")', selectCallback : selectItemCallback}" />
</div>
@section scripts
{
    <script type="text/javascript">

        (function() {
            function viewModel() {
                var self = this;
                //throttle only so we dont send requests to server
                //every key down
                self.search = ko.observable('').extend({ throttle: 300 });

                //item select callback function
                self.selectItemCallback = function (data) {
                    //dosomething with the selected item
                    console.log(data);
                };
            };

            //apply bindings
            ko.applyBindings(new viewModel(), document.getElementById('content-wrapper'));

        })();

    </script>
}