@model ASPCoreSample.Models.Selectors

@{
    ViewData["Title"] = "Index";

}
<select class="form-control"  asp-for="WaterFallList" asp-items="Model.WaterFallList">

</select>
<div class="form-group">

</div>
<select class="form-control" asp-for="DescriptionList" asp-items="Model.DescriptionList">

</select>

@Html.DropDownListFor(m => m.WaterFallList, Model.WaterFallList, "Water Falls")

@Html.DropDownList("WaterFallList", ViewBag.WaterFallList as IEnumerable<SelectListItem>, "(Select one)")