@model ASPCoreSample.Models.Falls

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Create a new Water Fall: </h4>
        <hr />
        @Html.ValidationSummary(false)
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Open_To_Public" class="col-md-2 control-label"></label>
            <div class="col-md-2">
                <select class="form-control" asp-for="Open_To_Public">
                    <option class="form-control" value="y">Yes</option>
                    <option class="form-control" value="n">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea class="form-control" asp-for="Description" rows="5" cols="40"></textarea>
                <span asp-validation-for="Description" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmedDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ConfirmedDate" class="form-control" />
                <span asp-validation-for="ConfirmedDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i>Back</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
