@model ASPCoreSample.Models.Falls

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div class="form-group">
    <form asp-controller="Falls" asp-action="Edit">
        <div class="form-horizontal">
            <h4>Edit Water Fall Information:</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Datum" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Datum" class="form-control" />
                    <span asp-validation-for="Datum" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Zone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Zone" class="form-control" />
                    <span asp-validation-for="Zone" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Northing" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Northing" class="form-control" />
                    <span asp-validation-for="Northing" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Lat_Long" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Lat_Long" class="form-control" />
                    <span asp-validation-for="Lat_Long" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="County_Id" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="County_Id" class="form-control" />
                    <span asp-validation-for="County_Id" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="Open_To_Public" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <select class="form-control" asp-for="Open_To_Public">
                        <option class="form-control" value="y">Yes</option>
                        <option class="form-control" value="n">No</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Owner_Id" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Owner_Id" class="form-control" />
                    <span asp-validation-for="Owner_Id" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea class="form-control" asp-for="Description" rows="5" cols="40"></textarea>
                    <span asp-validation-for="Description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Confirmed_Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Confirmed_Date" class="form-control" />
                    <span asp-validation-for="Confirmed_Date" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

    <div>
        <a asp-controller="Falls" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>

    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
