@model ASPCoreSample.Models.Falls

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>
<div class="form-group">
    <form asp-controller="Falls" asp-action="Edit">
        <div class="form-horizontal">
            <h4>Edit Water Fall Information:</h4>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="name" class="form-control" />
                    <span asp-validation-for="name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="datum" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="datum" class="form-control" />
                    <span asp-validation-for="datum" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="zone" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="zone" class="form-control" />
                    <span asp-validation-for="zone" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="northing" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="northing" class="form-control" />
                    <span asp-validation-for="northing" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="lat_long" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="lat_long" class="form-control" />
                    <span asp-validation-for="lat_long" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="county_id" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    @* Enum Select Tags Awesome *@
                    <select class="form-control" asp-for="county_id" asp-items="Html.GetEnumSelectList<ASPCoreSample.Models.County>()"></select>
                    <span asp-validation-for="county_id" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                    <label asp-for="open_to_public" class="col-md-2 control-label"></label>
                <div class="col-md-2">
                    <select class="form-control" asp-for="open_to_public" asp-items="Html.GetEnumSelectList<ASPCoreSample.Models.OpenToPublic>()"></select>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="owner_id" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="owner_id" class="form-control" />
                    <span asp-validation-for="owner_id" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="description" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea class="form-control" asp-for="description" rows="5" cols="40"></textarea>
                    <span asp-validation-for="description" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="confirmed_date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="confirmed_date" class="form-control" />
                    <span asp-validation-for="confirmed_date" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    </form>
</div>

    <div>
        <a asp-controller="Falls" asp-action="Index"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
    </div>

    @section Scripts {
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    }
